@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.ca_body {
    min-height: 100%;
}
.ca_body,
.ca_div,
.ca_form,
.ca_input,
.ca_select,
.ca_textarea,
.ca_p {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 22px;
}
.ca_h1 {
    position: absolute;
    margin: 0;
    font-size: 32px;
    color: #fff;
    z-index: 2;
}
.ca_h5 {
    font-size: 12px;
    font-weight: 700;
    margin: 10px 0;
}
.testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 20px;
}
.ca_form {
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 20px 0 #095484;
}
.banner {
    position: relative;
    height: 210px;
    /* background-image: url('/uploads/media/default/0001/01/c43630149befa5c9559813f72e99bcb6bf149e62.jpeg'); */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
}
.ca_input,
.ca_select,
.ca_textarea {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.ca_input {
    width: calc(100%);
    padding: 5px;
}
.ca_select {
    width: 100%;
    padding: 7px 0;
    background: transparent;
}
.ca_textarea {
    width: calc(100%);
    padding: 5px;
}
.item:hover p,
.item:hover i,
.question:hover p,
.question label:hover,
.ca_input:hover::placeholder,
a {
    color: #095484;
}
.item input:hover,
.item select:hover,
.item textarea:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 6px 0 #095484;
    color: #095484;
}
.item {
    position: relative;
    margin: 10px 0;
}
/* input[type='date']::-webkit-inner-spin-button {
    display: none;
} */
/* .item i,
input[type='date']::-webkit-calendar-picker-indicator {
    position: absolute;
    font-size: 20px;
    color: #a9a9a9;
} */
.item i {
    right: 2%;
    top: 30px;
    z-index: 1;
}
/* [type='date']::-webkit-calendar-picker-indicator {
    right: 1%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
} */
.ca_input[type='radio'],
.ca_input[type='checkbox'] {
    display: none;
}
label.radio,
label.check {
    position: relative;
    display: inline-block;
    margin: 5px 20px 15px 0;
    cursor: pointer;
}
.question span {
    margin-left: 30px;
}
span.required {
    margin-left: 0;
    color: red;
}
.checkbox-item label {
    margin: 5px 20px 10px 0;
}
label.radio:before,
label.check:before {
    content: '';
    position: absolute;
    left: 0;
}
label.radio:before {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid #095484;
}
label.check:before {
    top: 2px;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid #095484;
}
input[type='checkbox']:checked + .check:before {
    background: #095484;
}
label.radio:after {
    left: 5px;
    border: 3px solid #095484;
}
label.check:after {
    left: 4px;
    border: 3px solid #fff;
}
label.radio:after,
label.check:after {
    content: '';
    position: absolute;
    top: 6px;
    width: 8px;
    height: 4px;
    background: transparent;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0;
}
input[type='radio']:checked + label:after,
input[type='checkbox']:checked + label:after {
    opacity: 1;
}
.btn-block {
    margin-top: 10px;
    text-align: center;
}
.ca_button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #095484;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
.ca_button:hover {
    background: #0666a3;
}

.ca_danger {
    border: 1px solid #d00;
    box-shadow: 0 0 4px 0 #d00;
}
.ca_danger:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 6px 0 #d00 !important;
}

@media (min-width: 568px) {
    .city-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .city-item input {
        width: calc(50% - 8px);
    }
    .city-item select {
        width: calc(50% - 8px);
    }
}

@media (min-width: 568px) {
    .name-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .name-item input {
        width: calc(50% - 8px);
    }
    .name-item select {
        width: calc(50% - 8px);
    }
}
